@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

.editor {
    &__header {
        padding-right: 30px;
        background: #1D7044;
        color: white;
    }
    
    &__main {
        flex: 1 1 100%;
        @include flex();
    }

    &__footer {
        background-color: $accent-background-primary;
        color: $accent-foreground-primary;
        padding: $default-spacing/2 $default-spacing;       
        transition: background-color 0.3s ease-in-out;

        &--error {
            background-color: #FF4444;
            color: lighten(#FF4444, 60%);
        }

        &--warning {
            background-color: orange;
            color: black;
        } 
    }
}

.editor-command-bar {
    @include inline-flex();
    list-style-type: none;
    width: 100%;

    &__command {
        padding: (40px - $default-spacing)/2 $default-spacing;
        @include focus-states($accent-background-primary, $accent-foreground-primary);

        &--text {
            color: white;
            flex: 1 1 0px;
            padding: 0;
            @include ellipsis();

            > span {
                display: block;
                padding: 12px;
                width: calc(100% - 24px);
            }

            span[hidden] {
                display: none;
            }

            i {
                padding-right: $default-spacing/2;
            }
        }

        &--right {
            align-self: flex-end;
        }
    }

    &__input--text {
        width: calc(100% - 16px);
        height: 25px;
        padding: 8px;
        font-size: 14px;
        background-color: #1a1a1a;
        border: solid 1px transparent;
        outline: none;
        color: white;

        &:focus {
            color: #cdf2de; 
            border: solid 1px $accent-background-primary;
        }
    }
}

.editor-command-bar__command:active,
.editor-command-bar__command:hover,
.editor-command-bar__command i:active,
.editor-command-bar__command i:hover {
    background: #13472b !important;
    color: #cdf2de !important;
    /* different browsers use different terms for pointer vs. hand, so include both*/
    cursor: pointer;
    cursor: hand;
}

@media (max-width: 600px) {
    .editor-command-bar__command {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 500px) {
    .editor-command-bar__command {
        padding-right: 7px;
        padding-left: 7x;
    }
}

@media (max-width: 400px) {
    .editor-command-bar__command {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 300px) {
    .editor-command-bar__command {
        padding-right: 3px;
        padding-left: 3px;
    }
}

@media (max-width: 250px) {
    .editor-command-bar__command {
        padding-right: 2px;
        padding-left: 2px;
    }
}

.edit-name-icon {
    color: #1D7044 !important;
    font-size: 1.5em;
    margin-left: 15px;
    position: relative;
    top: 4px;
}

.editor__footer {
    display: flex;
    overflow: hidden;
    align-items: center;
}

#editor-status-text {
    flex-grow: 1;
}

#refresh {
    margin-right: 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    right: 10px;

    /* different browsers use different terms for pointer vs. hand, so include both*/
    cursor: pointer;
    cursor: hand;
}
