<header class="editor__header">
    <ul class="editor-command-bar">
        <li class="editor-command-bar__command" (click)="back()"><i class="ms-Icon ms-Icon--chevronThinLeft"></i></li>
        <li class="editor-command-bar__command editor-command-bar__command--text ms-font-m">
            <span [hidden]="editMode" (click)="editMode = !editMode; $event.stopPropagation();">
                <span (click)="editMode = !editMode; $event.stopPropagation();">{{snippet?.meta?.name}}</span>
                <i (click)="editMode = !editMode; $event.stopPropagation();" class="edit-name-icon ms-Icon ms-Icon--styleRemove"></i>
            </span>
            <input #name [hidden]="!editMode" class="editor-command-bar__input--text" type="text" [(ngModel)]="snippet.meta.name" placeholder="New name for snippet" />
        </li>
        <li [hidden]="!editMode" (click)="editMode = !editMode" class="editor-command-bar__command editor-command-bar__command--right"><i class="ms-Icon ms-Icon--check"></i></li>
        <li [hidden]="editMode" class="editor-command-bar__command editor-command-bar__command--right" (click)="save()"><i class="ms-Icon ms-Icon--save"></i></li>
        <li [hidden]="editMode" class="editor-command-bar__command editor-command-bar__command--right" (click)="duplicate()"><i class="ms-Icon ms-Icon--copy"></i></li>
        <li [hidden]="editMode" class="editor-command-bar__command editor-command-bar__command--right" (click)="delete()"><i class="ms-Icon ms-Icon--trash"></i></li>
        <li [hidden]="editMode" class="editor-command-bar__command editor-command-bar__command--right" (click)="share()"><i class="ms-Icon ms-Icon--share"></i></li>
        <li [hidden]="editMode" class="editor-command-bar__command editor-command-bar__command--right" (click)="run()"><i class="ms-Icon ms-Icon--play"></i></li>
    </ul>
</header>
<section class="editor__main">
    <tabs readonly="false">
        <tab name="Script" language="typescript" [content]="snippet.script"></tab>
        <tab name="HTML" language="html" [content]="snippet.html"></tab>
        <tab name="CSS" language="css" [content]="snippet.css"></tab>
        <tab name="Libraries" language="text" [content]="snippet.libraries"></tab>
    </tabs>
</section>
<section class="editor__footer ms-font-m" [ngClass]="{
    'editor__footer--warning': isStatusWarning, 
    'editor__footer--error': isStatusError
}">
    <div id="editor-status-text">
        <div *ngIf="!!!status" class="ms-u-slideUpIn20">{{contextTagline}}</div>
        <div *ngIf="!!status" class="ms-u-slideUpIn20" (click)="clearStatus">{{status}}</div>
    </div>

    <div class="editor-command-bar__command display-if-office-js-dialog-enabled" (click)="launchPopOutAddinEditor()">
        <i class="ms-Icon ms-Icon--popout "></i>
    </div>
    <div class="editor-command-bar__command" (click)="refresh()">
        <span id="refresh">&#8635;</span>
    </div>
</section>