@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/vars';

.panel {
    position: absolute;
    width: 300px;
    left: -115px;
    top: 50px;
    z-index: 3;
    padding: 15px;
    box-shadow: 0 1px 7px 1px rgba(0, 0, 0, .4);

     &__title {
        margin-bottom: $default-spacing;
    }

    &::before {
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-family: 'FabricMDL2Icons';
        font-style: normal;
        font-weight: normal;
        speak: none;
        content: '\EDDB';
        position: absolute;
        top: -15px;
        left: 150px;
        transform: none;
        font-size: 16pt;
    }
}