<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://npmcdn.com/office-ui-fabric/dist/css/fabric.min.css">
    <link rel="stylesheet" href="https://npmcdn.com/office-ui-fabric/dist/css/fabric.components.min.css">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>