@import '../mixins';
@import '../vars';

command {
    height: 100%;
    @include center-flex();
}

.command {
    &__bar {
        @include inline-flex();
        flex: 1 0 40px;
        width: 100%;
        overflow: hidden;
        height: 40px;

        &--condensed {
            height: 22px;

            .command__icon {
                padding: 5px $default-spacing/2;
                margin: 0 3px;
                font-size: 12px !important;
            }
        }
    }

    &__title,
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        cursor: pointer;
        position: relative;
    }

    &__icon {
        img + span,
        i + span {
            @include ellipsis();
            max-width: 200px;
            margin-left: $default-spacing/2;
        }
    }

    &__title {
        flex: 1 1 auto;
        justify-content: flex-start;
        @include ellipsis();
    }

    &__image {
        width: 21px;
        height: 21px;
        border-radius: 100%;
    }

    &__async {
        width: 21px;
        height: 21px;
    }
}

@media (min-width: 0px) and (max-width: 900px) {
    .command {
        &__icon {
            span {
                display: none;
            }
        }
    }

    command.title {
        .command {
            &__icon {
                span {
                    display: block;
                }
            }
        }
    }

     .command__bar--condensed {
        .command {
            &__icon {
                span {
                    display: block;
                }
            }
        }
    }
}