<section class="new">
    <section class="new__section new__gallery">
        <section class="new-list">
            <h1 style="margin-top: 0;" class="ms-font-m main-heading local-snippets">
                <span>My local snippets</span>
                <i *ngIf="localGallery.length > 0" class="new-list__action ms-Icon ms-Icon--trash" style="color: black" (click)="deleteAll()"></i>
            </h1>
            <section class="new-list__group local-snippets">
                <article class="new-list__item ms-font-m" *ngFor="let snippet of localGallery">
                    <span (click)="select(snippet)">{{snippet?.meta.name}}</span>
                    <i class="new-list__action ms-Icon ms-Icon--pencil" (click)="select(snippet)"></i>
                    <i class="new-list__action ms-Icon ms-Icon--play" (click)="run(snippet)"></i>
                    <i class="new-list__action ms-Icon ms-Icon--trash" (click)="delete(snippet)"></i>
                </article>
                <p class="new-list__message ms-font-m" [hidden]="localGallery?.length > 0">
                    You have no local snippets. To get started, import one from a shared link or create a new snippet. You can
                    also choose from the gallery below.
                </p>
            </section>
            <section class="new-list__from-template">
                <h1 class="ms-font-m main-heading">
                    From template
                </h1>
                <section class="new-list__group" *ngFor="let group of gallery?.items; let i = index">
                    <h3 class="new-list__group-header ms-font-m">{{group?.name}}</h3>
                    <section class="new-list__group">
                        <article class="new-list__item ms-font-m" *ngFor="let snippet of group?.items">
                            <span (click)="import(snippet)">{{snippet?.name}}</span>
                        </article>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="new__section">
        <hr class="new__section--separator" />
        <button class="new__action ms-Button ms-Button--compound" (click)="select()">
            <h1 class="ms-Button-label">Create new</h1>
            <span class="ms-Button-description">Create a new snippet from a blank template</span>
        </button>
        <button class="new__action button-primary ms-Button ms-Button--compound" (click)="importButtonClick()">
            <h1 class="ms-Button-label">Create from link</h1>
            <span class="ms-Button-description">Create a new snippet from a shared snippet link</span>
        </button>
    </section>
    <section class="new__section new__form" [hidden]="!importFlag">
        <table>
            <tr>
                <td><input class="new__input--text" type="text" name="link" [(ngModel)]="link" placeholder="Link to snippet or snippet ID" /></td>
                <td style="width: 1%;"><h2 class="new__section-title ms-font-l" (click)="import()">Create&nbsp;&nbsp;&#x27A4;</h2></td>
            </tr>
        </table>
    </section>
</section>