@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

.new {
    @include flex();
    flex: 1 1 100%;

    &__action {
        width: 100%;
        max-width: none;
        display: block !important;
        background-color: #F4F4F4;
        color: #333;
        margin: 0;
        border: none;
        border-bottom: solid 1px #E4E4E4;

        &:last-child {
            margin-bottom: 0;
        }

        @include focus-states($accent-background-primary, $accent-foreground-primary);

        &:hover,
        &:focus {
            border: none;
            background-color: $accent-background-primary;
    
            .ms-Button-description,
            .ms-Button-label {
                color: $accent-foreground-primary;                
            }
        }
        

        .ms-Button-description,
        .ms-Button-label {
            color: #333;                
        }
    }

    &__section {
        &:last-child {
            margin-bottom: 0;
        }

        &--separator {
            height: 0;
            border: none;
            outline: none;
            border-bottom: solid 1px #E4E4E4;
        }
    }

    &__section-title {
        padding: $default-spacing !important;
        color: $accent-background-primary;
        display: table-cell;
        box-sizing: border-box;
    }

    &__gallery {
        margin-bottom: $default-spacing;        
        flex: 1 1 100%;
        @include flex();
    }

    &__form {
        i.ms-Icon {
            position: absolute;
            right: $default-spacing;
            margin-top: $default-spacing/2;
        }  
        
        .new__section-title {
            @include focus-states($accent-background-primary, $accent-foreground-primary);
        }      
    }

    &__input--text {
        width: 100%;
        height: 25px;
        padding: $default-spacing $default-spacing;
        font-size: 15px;
        border: 1px solid lightgray;
        outline: none;
        display: table-cell;
        box-sizing: border-box;
        background: aliceblue;

        &:focus {
            color: $accent-background-primary;
            border: solid 1px $accent-background-primary;
        }
    }
}

.new-list {
    flex: 1 1 100%;
    @include vScroll();   

    &__group {
        margin-bottom: $default-spacing;
    }

    &__group-header {
        font-weight: bold;
        padding: $default-spacing/2 $default-spacing;
        color: $accent-background-primary;
    }

    &__item {
        @include focus-states(#F4F4F4);
        @include inline-flex();
        width: 100%;

        span {
            padding: $default-spacing;            
            align-self: flex-start;
            @include ellipsis();
            flex: 1 1 100%;
        }
    }

    &__message {
        padding: $default-spacing/2 $default-spacing;
    }

    &__action {
        padding: $default-spacing + 2px;
        font-size: 15px;
        @include focus-states($accent-background-primary, $accent-foreground-primary);
        align-self: flex-end;
    }
}

#local-snippets {
    display: flex;
    overflow: hidden;
    align-items: center;
}

    #local-snippets h3 {
        flex-grow: 1;
    }

    #local-snippets i {
        padding: 17px;
        /* different browsers use different terms for pointer vs. hand, so include both*/
        cursor: pointer;
        cursor: hand;        
    }

h1.main-heading {
    background-color: #F4F4F4;
    color: #217346;
    margin-top: 15px;
    border: none;
    border-bottom: solid 1px #E4E4E4;
    padding: 10px;
    border-top: solid 1px #E4E4E4;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
}

h1.ms-Button-label {
    background: inherit;
    text-transform: uppercase;
}

.new__action h1.ms-Button-label {
    color: #217346;
}

.new-list__from-template > section, .new-list__from-template > section > section {
    margin-left: 1.5em;
}

.new__section.new__form {
    padding: 0 10px;
}

    .new__section.new__form > div {
        margin-left: 1.15em;
        display: table;
        width: 100%;
        margin-bottom: 10px;
    }

.new__section.new__form > div {
    display: table-row;
}

.new__section.new__form > div > .separator {
    display: table-cell;
    width: 15px;
}