@import '../../../../assets/styles/mixins';

.tabs {
    overflow: hidden;
    flex: 0 0 40px;

    &__tab.ms-Pivot-link {
        color: white !important;
    }

    &__tab.ms-Pivot-link:hover {
        color: white !important;
    }

    &__container {
        @include flex();
        flex: 1 1 100%;
        width: 100%;
    }
}

monaco-editor-tabs {
    @include flex();
    flex: 1 1 100%;
}

.monaco-editor {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;
    height: 100% !important;
}

.ms-progress {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;
    height: 100% !important;
}