@import '../../../../assets/styles/mixins';

.tabs {
    overflow: hidden;
    flex: 0 0 43.5px;

    &__container {
        @include flex();
        flex: 1 1 100%;
        width: 100%;
    }
}

monaco-editor-tabs {
    @include flex();
    flex: 1 1 100%;
}

.monaco-editor {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;
    height: 100% !important;
}

.ms-progress {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;
    height: 100% !important;
}