<section class="share__header">
    <span id="back" (click)="back()">&#8656;</span>
    <span id="name" class="ms-font-l">Share "<b>{{_snippet.meta.name}}</b>"</span>
</section>

<section class="share__main ms-font-m">
    <div class="ms-progress" [hidden]="loaded">
        <div class="ms-Spinner large"></div>
        <div class="ms-ProgressIndicator-itemName ms-font-m ms-fontColor-white">Just one moment...</div>
        <div class="ms-ProgressIndicator-itemDescription ms-font-s-plus ms-fontColor-white">{{statusDescription}}</div>
    </div>

    <div class="pre-share" [hidden]="!loaded || gistId">
        <div class="description ms-font-m ms-fontWeight-semibold">
            There are two ways to share your snippet:
        </div>

        <div class="header ms-font-l ms-fontWeight-semibold">
            <b>Option 1 (Recommended)</b>: Upload to a <b>
                <a href="https://gist.github.com/" traget="_blank">GitHub&nbsp;Gist</a> </b>
            (<a href="https://help.github.com/articles/about-gists/#anonymous-gists" traget="_blank">anonymous</a>)
        </div>
        <div class="option option-gist">
            <!--Radio buttons, hooked up-->
            <div class="ms-ChoiceFieldGroup">
                <div class="ms-ChoiceFieldGroup-title">
                    <label class="ms-font-m ms-Label is-required">Share as:</label>
                </div>
                <div class="ms-ChoiceField">
                    <input id="radio-public" class="ms-ChoiceField-input" type="radio" name="radio-share" checked="" (change)="gistSharePublic = true">
                    <label for="radio-public" class="ms-ChoiceField-field">
                        <span class="ms-Label">Public (searchable) GitHub Gist</span>
                    </label>
                </div>
                <div class="ms-ChoiceField">
                    <input id="radio-secret" class="ms-ChoiceField-input" type="radio" name="radio-share" (change)="gistSharePublic = false">
                    <label for="radio-secret" class="ms-ChoiceField-field">
                        <span class="ms-Label">Secret (link-only) GitHub Gist</span>
                    </label>
                </div>
            </div>

            <button class="ms-Button" (click)="postToGist()">
                <h1 class="ms-Button-label">Post to an anonymous GitHub Gist</h1>
            </button>
        </div>

        <div class="header space-above ms-font-l ms-fontWeight-semibold">
            Option 2: Manually <b>copy the JSON</b> to share with another user
        </div>
        <div class="option">
            <div id="monaco-wrapper">
                <div #editor id="monaco"></div>
            </div>
        </div>
    </div>
    
    <div class="post-share" [hidden]="!gistId">
        <h1 class="ms-font-xl">Your snippet has been shared successfully!</h1>

        <h2 class="ms-font-l">Shareable link</h2>
        <div class="info-panel">
            <p>
                The URL of the GitHub Gist is
            </p>
            <div class="link-or-id">
                <a href="https://gist.github.com/{{gistId}}" target="_blank">
                    https://gist.github.com/{{gistId}}
                </a>
            </div>
            <p>
                For a shareable link, where folks can view your snippet online, use
            </p>
            <div class="link-or-id">
                <a href="{{viewUrl}}" target="_blank">{{viewUrl}}</a>
            </div>
            <p>
                Your colleagues will be able to import your snippet by
                choosing the <b>"Import from link or JSON"</b> button 
                in the Playground, and providing either of the above URLs
            </p>

            <p>
                <span style="font-weight: bold;">
                    Note: please copy and make note of the above URLs</span>,
                as they will be gone as soon as you navigate away from this page.
            </p>
        </div>

        <h2 class="ms-font-l">Embeddable view</h2>
        <div class="info-panel">
            <p>
                To <b>embed the snippet in an article, blog post, etc.,</b>
                simply add the following iframe tag to your site:
            </p>
            <div class="link-or-id consolas">{{embedScriptTag}}</div>
        </div>
    </div>
</section>
