<!DOCTYPE html>
<html>

<head>
	<title>Add-in Custom Functions</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<!-- <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script> -->
	<script src="https://unpkg.com/@microsoft/office-js@1.1.2-private.0/dist/office.js"></script>

	<script>
		// Office.initialized = function() {

		// }
		// window.location.replace

		Office.initialize = function (reason) {

			function test(num) {
				return "42";
			}

			Excel.Script.CustomFunctions = {};
			Excel.Script.CustomFunctions["CF"] = {};
			Excel.Script.CustomFunctions["CF"]["TEST"] = {
				call: test,
				description: "test description",
				helpUrl: "https://example.com/help.html",
				result: {
					resultType: Excel.CustomFunctionValueType.number,
					resultDimensionality: Excel.CustomFunctionDimensionality.scalar,
				},
				parameters: [
					{
						name: "num",
						description: "test description",
						valueType: Excel.CustomFunctionValueType.number,
						valueDimensionality: Excel.CustomFunctionDimensionality.scalar,
					},
				],
				options: {
					batch: false,
					stream: false,
				}
			};

			Excel.run(function (context) {
				context.workbook.customFunctions.addAll();
				return context.sync().then(function () {
					console.log("added all functions");
				});

			}).catch(function (error) {
				console.log("error" + error);
			});
		};
	</script>
</body>

</html>