<!DOCTYPE html>
<html>

<head>
  <title>Coming Soon</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <link rel="stylesheet" href="libs/{{{versionedPackageNames['office-ui-fabric-js']}}}/css/fabric.min.css" />
  <link rel="stylesheet" href="libs/{{{versionedPackageNames['office-ui-fabric-js']}}}/css/fabric.components.min.css" />
</head>

<body class="ms-font-m">

  <div id="root">
    <div id="progress" class="ms-progress-component">
      <div id="ribbon" class="ribbon"></div>
      <main class="ms-progress-component__main">
        <img class="ms-progress-component__logo" src="../assets/images/icon-large.svg">
        <h2 id="title" class="ms-progress-component__title ms-font-xxl">Script Lab</h2>
        <h1 class="ms-fontSize-su ms-fontWeight-light" style="color: rgb(216, 59, 1); margin-top: 24px; line-height: 56px;">Coming Soon.</h1>
        <hr style="width: 118px; margin-top: 12px; margin-bottom: 27px; color: rgb(51, 51, 51);">
        <p class="ms-fontSize-m ms-fontWeight-regular" style="max-width: 200px; text-align: center; line-height: 19px; color: rgb(51, 51, 51);">
          Discover what custom functions can do for you!
        </p>
      </main>
    </div>
  </div>
</body>

</html>