<!DOCTYPE html>
<html>

<head>
	<base href="/">

	<title>Script Lab</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="icon" type="image/x-icon" href="favicon/favicon.ico">
	<link rel="manifest" href="favicon/manifest.json">
	<link rel="stylesheet" href="libs/{{{versionedPackageNames['office-ui-fabric-js']}}}/css/fabric.min.css">
	<link rel="stylesheet" href="libs/{{{versionedPackageNames['office-ui-fabric-js']}}}/css/fabric.components.min.css">
	<link rel="stylesheet" href="libs/{{{versionedPackageNames['jsgrid']}}}/jsgrid.min.css">
	<link rel="stylesheet" href="libs/{{{versionedPackageNames['jsgrid']}}}/jsgrid-theme.min.css">
	<script src="assets/office-js-custom-functions-2018-07-design--api-set-1.3-or-later/office.js"></script>

	<script>
		Office.initialize = function () {
			window.playground_host_ready = true;
		}
	</script>
</head>

<body class="ms-font-m">
	<div id="progress" class="ms-progress-component">
		<div id="ribbon" class="ribbon"></div>
		<main class="ms-progress-component__main">
			<img class="ms-progress-component__logo" src="../assets/images/icon-large.svg" />
			<h1 id="title" class="ms-progress-component__title ms-font-xxl">Script Lab</h1>

			<p id="subtitle" class="ms-progress-component__sub-title ms-font-m">Registering custom functions...</p>
		</main>
		<footer class="ms-progress-component__footer">
			<div class="ms-progress">
				<div class="cs-loader">
					<div class="cs-loader-inner">
						<label>●</label>
						<label>●</label>
						<label>●</label>
						<label>●</label>
						<label>●</label>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<button id="refresh" onclick="window.location.reload()" class="ms-Button ms-Button--primary" style="width: 150px; height: 60px; display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;">
		<div class="ms-Button-textContainer">
			<div class="ms-Button-label x-hidden-focus">Refresh</div>
		</div>
	</button>
	<div id="root"></div>
</body>

</html>