<!DOCTYPE html>
<html>

<head>
	<title>Add-in Commands Functions</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<script>
		["launchCode", "launchTutorial", "launchHelp", "launchAsk", "launchApiDocs"]
			.forEach(function (commandName) {
				window[commandName] = function (event) {
					let interval = setInterval(function () {
						// the `window["commandExecutor"]` variable will get set by
						//     functions.ts, once the webpack-ed code loads:
						if (window["commandExecutor"]) {
							window["commandExecutor"][commandName](event);
							clearInterval(interval);
						}
					}, 100);
				};
			});
	</script>
	<script src="libs/{{{versionedPackageNames['@microsoft/office-js']}}}/dist/office.debug.js"></script>

	<script>
		Office.initialize = function () {};
	</script>
</body>

</html>