<!DOCTYPE html>
<html>

<head>
	<base href="/">
	<title>Run</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="icon" type="image/x-icon" href="favicon/favicon.ico">
	<link rel="manifest" href="favicon/manifest.json">
	<link rel="stylesheet" href="libs/office-ui-fabric-js/css/fabric.min.css">
	<link rel="stylesheet" href="libs/office-ui-fabric-js/css/fabric.components.min.css">
</head>

<body class="ms-font-m">
	<script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
	<app class="app">
		<div id="progress" class="ms-progress-component">
			<main class="ms-progress-component__main">
				<img class="ms-progress-component__logo" src="../assets/images/icon-large.svg" />
				<h1 id="title" class="ms-progress-component__title ms-font-xxl">Script Lab</h1>
				<p id="subtitle" class="ms-progress-component__sub-title ms-font-m">Loading runner...</p>
			</main>
			<footer class="ms-progress-component__footer">
				<div class="ms-progress">
					<div class="cs-loader">
						<div class="cs-loader-inner">
							<label class="ms-Icon ms-Icon--LocationDot"></label>
							<label class="ms-Icon ms-Icon--LocationDot"></label>
							<label class="ms-Icon ms-Icon--LocationDot"></label>
							<label class="ms-Icon ms-Icon--LocationDot"></label>
							<label class="ms-Icon ms-Icon--LocationDot"></label>
						</div>
					</div>
				</div>
			</footer>
			<div id="hosts" class="ms-u-slideUpIn20">
				<p>Choose your host:</p>
				<div class="buttons">
					<div class="hostButton ms-Icon ms-Icon--Globe" data-host="WEB"></div>
					<div class="hostButton ms-BrandIcon--Icon48 ms-BrandIcon--excel" data-host="EXCEL"></div>
					<div class="hostButton ms-BrandIcon--Icon48 ms-BrandIcon--word" data-host="WORD"></div>
					<div class="hostButton ms-BrandIcon--Icon48 ms-BrandIcon--powerpoint" data-host="POWERPOINT"></div>
					<div class="hostButton ms-BrandIcon--Icon48 ms-BrandIcon--onenote" data-host="ONENOTE"></div>
					<div class="hostButton ms-BrandIcon--Icon48 ms-BrandIcon--project" data-host="PROJECT"></div>
					<div class="hostButton ms-Icon ms-Icon--Group" data-host="TEAMS"></div>
				</div>
			</div>
		</div>
		<section id="gallery">
			<section class="gallery__section">
				<section class="gallery-list">
					<div id="last-opened-header" class="command__bar command--light">
						<div class="command__title ms-u-slideLeftIn10">
							<span class="ms-font-m ms-u-slideLeftIn10">Last opened snippet</span>
						</div>
					</div>
					<section id="last-opened" class="gallery-list__group ms-u-slideUpIn10">
					</section>
					<div id="last-opened-empty" class="gallery-list__message ms-font-m ms-u-slideUpIn10">
						You have no last opened snippet. To get started, create or import a snippet via the 'Code' button.
					</div>
					<div class="command__bar command--light" style="margin-top: 15px">
						<div class="command__title ms-u-slideLeftIn10">
							<span class="ms-font-m ms-u-slideLeftIn10">My saved snippets</span>
						</div>
					</div>
					<section id="snippet-list" class="gallery-list__group ms-u-slideUpIn10">
					</section>
					<div id="snippet-list-empty" class="gallery-list__message ms-font-m ms-u-slideUpIn10">
						You have no local snippets. To get started, create or import a snippet via the 'Code' button.
					</div>
				</section>
			</section>
		</section>
	</app>
</body>

</html>