<!DOCTYPE html>
<html>

<head>
	<base href="/">

	<!--Note: title below will get localized at runtime-->
	<title>Tutorial</title>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="libs/office-ui-fabric-js/css/fabric.min.css" />
	<link rel="stylesheet" href="libs/office-ui-fabric-js/css/fabric.components.min.css" />

	<style>
		body {
			margin: 10px;
			text-align: center;
		}

		img {
			max-width: 100%;
		}
	</style>
</head>

<body class="ms-font-m">
	<div id="main-body" style="visibility:hidden">
		<p>
			<span id="tutorial-description">
				<!--Note: text will get localized at runtime, and won't be visible until then due to visibility:hidden on parent-->
				This Excel file shows you how to use Script Lab in a few easy steps:
			</span>

			<br />
			
			<!--Note: text will get localized at runtime, and won't be visible until then due to visibility:hidden on parent-->
			<span id="download-word">Download</span> "<a href="javascript:void(0)" onclick="window.open('../assets/documents/script-lab-tutorial.xlsx');">script-lab-tutorial.xlsx</a>"
		</p>
		<p>
			<a href="javascript:void(0)" onclick="window.open('../assets/documents/script-lab-tutorial.xlsx');">
				<img src="../assets/images/tutorial.png">
			</a>
		</p>
	</div>
</body>

</html>