<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".yaml" mimeType="text/plain" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <!-- Redirect to https -->
        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
              <add input="{HTTPS}" pattern="Off"/>
              <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>

      <outboundRules>
          <!-- Disable caching for HTML files -->
          <rule name="DisableCacheHTMLFiles" preCondition="IsHTMLFile">
            <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
            <action type="Rewrite" value="no-cache, no-store" />
          </rule>
          <!-- Cache static webpack assets for 6 months -->
          <rule name="CacheStaticAssets">
            <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
            <conditions>
                <add input="{URL}" pattern="/bundles/" negate="false" />
            </conditions>
            <action type="Rewrite" value="max-age=15768000" />
          </rule>
          <preConditions>
            <preCondition name="IsHTMLFile">
              <add input="{REQUEST_FILENAME}" pattern=".*\.html" />
            </preCondition>
          </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>