<section class="share__header">
    <span id="back" (click)="back()">&#8656;</span>
    <span id="name" class="ms-font-l">Share "<b>{{_snippet.meta.name}}</b>"</span>
</section>

<section class="share__main ms-font-m">
    <div class="ms-progress" [hidden]="loaded">
        <div class="ms-Spinner large"></div>
        <div class="ms-ProgressIndicator-itemName ms-font-m ms-fontColor-white">Just one moment...</div>
        <div class="ms-ProgressIndicator-itemDescription ms-font-s-plus ms-fontColor-white">{{statusDescription}}</div>
    </div>

    <div class="pre-share" [hidden]="!loaded || gistId">
        <div>
            Below is a sharable copy of your snippet. You can now:
        </div>
        <ol>
            <li>Manually <b>copy the JSON</b> to share with another user. You can also put it on your own 
                <a href="https://gist.github.com/" traget="_blank">GitHub&nbsp;Gist</a>
                for sharing or version-control.
            </li>
            <li>Alternatively, <b>have us create an 
                anonymous secret <a href="https://gist.github.com/" target="_blank">GitHub&nbsp;Gist</a></b>
                (see more about "anonymous" snippets <a href="https://help.github.com/articles/about-gists/#anonymous-gists" target="_blank">here</a>),
                and give you a shareable link.
            </li>
        </ol>

        <button class="ms-Button" (click)="postToGist()">
            <h1 class="ms-Button-label">Share as an anonymous GitHub Gist</h1>
        </button>

        <hr />

        <div id="monaco-wrapper">
            <div #editor id="monaco"></div>
        </div>
    </div>
    
    <div class="post-share" [hidden]="!gistId">
        <h1 class="ms-font-xl">Your snippet has been shared successfully!</h1>

        <h2 class="ms-font-l">Shareable link</h2>
        <div class="info-panel">
            <p>
                The URL of the GitHub Gist is
            </p>
            <div class="link-or-id">
                <a href="https://gist.github.com/{{gistId}}" target="_blank">
                    https://gist.github.com/{{gistId}}
                </a>
            </div>
            <p>
                <span style="font-weight: bold;">
                    Copy-paste this URL for safekeeping</span>,
                as it will be gone as soon as you navigate away from this page.
            </p>

            <p>
                Your colleagues will be able to import your snippet by
                choosing the <b>"Import from link or JSON"</b> button 
                in the API Playground, and providing either the URL above
                or a simplified ID:
            </p>
            <div class="link-or-id">
                gist_{{gistId}}
            </div>
        </div>

        <h2 class="ms-font-l">Embeddable view</h2>
        <div class="info-panel">
            <p>
                To <b>embed a view-only</b> version of the snippet
                in an article, blog post, etc., use the embed link:
            </p>

            <div class="link-or-id">
                <a href="{{embedUrl}}" target="_blank">{{embedUrl}}</a>
            </div>
        </div>
    </div>
</section>
