@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

share {
    overflow: hidden;
}

.share__header {
    background-color: #217346;
    padding: 7.5px 15px;
}

.share__main {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    overflow: auto;
}
    .share__main a {
        color: #217346
    }

    .share__main ol {
        margin-left: 30px;
        margin-top: 10px;
    }

        .share__main ol li {
            margin: 10px 0;
        }

    .share__main .pre-share .ms-Button {
        background: #217346;
        margin: 10px 10px 20px 50px;
    }

        .share__main .pre-share .ms-Button .ms-Button-label {
            color: white;
            font-weight: normal;
        }

#back {
    font-size: 1.5em;
    font-weight: bold;
    color: white;

    /* different browsers use different terms for pointer vs. hand, so include both*/
    cursor: pointer;
    cursor: hand;
}

#name {
    color: white;
    margin-left: 15px;
}

#monaco-wrapper {
    margin-top: 10px;
    background: #217346;
    padding: 5px;
}

#monaco {
    height: 300px;
}

.ms-progress {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;     
    height: 100% !important;
    background: #217346;
}

.pre-share {
    padding: 10px;
}

    .pre-share button {
        height: auto;
    }

.post-share h1 {
    padding: 10px;
}

.post-share h2 {
    margin-top: 20px;
    padding: 10px;
    background: #eee;
}

.post-share .info-panel {
    padding: 0 10px 10px 10px;
}

    .post-share .info-panel p {
        margin-top: 10px;
    }

    .post-share .info-panel .link-or-id {
        word-wrap: break-word;
        font-weight: bold;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 5px;
        color: #217346;
    }