<section class="run__header">
    <span id="back" (click)="back()">&#8656;</span>
    <span id="name" class="ms-font-l">Running "<b>{{_snippet.meta.name}}</b>"</span>
    <span id="refresh" (click)="reloadPage()">&#8635;</span>
</section>

<div class="ms-progress" [hidden]="loaded">
    <div class="ms-Spinner large"></div>
    <div class="ms-ProgressIndicator-itemName ms-font-m ms-fontColor-white">Just one moment...</div>
    <div class="ms-ProgressIndicator-itemDescription ms-font-s-plus ms-fontColor-white">{{loadingMessage}}</div>
</div>

<section class="run__main" [hidden]="!loaded">
    <iframe #runner id="runner-frame" sandbox="allow-scripts allow-same-origin"></iframe>
</section>

<section #console class="run__console animate-show" id="console" [hidden]="!showConsole">
    <div>
        <button class="ms-Button" id="console-clear" (click)="clearConsole()">Clear</button>
        <button class="ms-Button" id="console-close" (click)="hideConsole()">Close</button>
    </div>
    <div class="scrollable">
        <pre><span *ngFor="let item of consoleMessages" class="console {{item.type}}">{{item.message}}</span></pre>
    </div>
</section>
