<section class="gallery">
    <section class="gallery__section">
        <ul class="gallery__tabs ms-Pivot ms-Pivot--tabs">
            <li class="gallery__tab ms-Pivot-link" [ngClass]="{'is-selected gallery__tab--active': !templatesView}" (click)="templatesView = false">Snippets</li>
            <li class="gallery__tab ms-Pivot-link" [ngClass]="{'is-selected gallery__tab--active': templatesView}" (click)="templatesView = true">Templates</li>
        </ul>
        <div class="gallery__tabs-container">
            <section class="gallery-list ms-u-slideUpIn10" [hidden]="templatesView">
                <collapse title="Local" [actions]="['Info', 'Delete']" (events)="commandEvents($event)">
                    <div class="collapse__info ms-font-m" [hidden]="hideWarn">
                        These snippets are stored in your browser and will disappear if you clear your browser cache. Backup using Gists to prevent
                        data loss.
                        <br />
                        <button class="ms-Button" (click)="toggleWarn()">
                            <span class="ms-Button-label">Got it</span>
                        </button>
                    </div>
                    <section class="gallery-list__group local-snippets">
                        <article class="gallery-list__item gallery-list__item__local ms-font-m" *ngFor="let snippet of snippets" (click)="select(snippet)">
                            <span>{{snippet.name}}</span>
                            <i class="ms-Icon ms-Icon--Delete" (click)="delete(snippet)"></i>
                        </article>
                        <p class="gallery-list__message ms-font-m" [hidden]="snippets?.length > 0">
                            You have no local snippets. To get started, import one from a shared link or create a gallery snippet. You can also choose
                            from the gallery below.
                        </p>
                    </section>
                </collapse>
            </section>
            <section class="gallery-list ms-u-slideUpIn10" [hidden]="!templatesView">
                <collapse title="Microsoft">
                    <section class="gallery-list__group" *ngFor="let group of templates.groups">
                        <h3 class="gallery-list__group-header ms-font-m">{{group?.name}}</h3>
                        <section class="gallery-list__group">
                            <article class="gallery-list__item gallery-list__item--template ms-font-m" *ngFor="let snippet of group?.items" (click)="import(snippet.gist)">
                                <div class="name">{{snippet?.name}}</div>
                                <div class="description">{{snippet?.description}}</div>
                            </article>
                        </section>
                    </section>
                </collapse>
            </section>
        </div>
    </section>
    <section class="gallery__section">
        <hr class="gallery__section--separator" />
        <button class="gallery__action ms-Button ms-Button--compound" (click)="new()">
            <h1 class="ms-Button-label"><i class="ms-Icon ms-Icon--Generate"></i>New</h1>
            <span class="ms-Button-description">Create a new snippet.</span>
        </button>
        <button class="gallery__action button-primary ms-Button ms-Button--compound" (click)="import()">
            <h1 class="ms-Button-label"><i class="ms-Icon ms-Icon--Download"></i>Import</h1>
            <span class="ms-Button-description">Create from GIST or JSON.</span>
        </button>
    </section>
</section>
<!--<import-view [(open)]="showImport"></import-view>-->