@model OfficeJsSnippetsService.MvcControllers.SnippetViewModel

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>API Playground</title>
    </head>*@
@*<body>
    <div class="container">*@
<div class="left">
    <h1 class="ms-font-su">Welcome to the API Playground</h1>

    <div class="body">
        <h2>Office.js API Playground</h2>
        <p class="ms-font-l">For the Office.js API Playground, open Excel or Word 2016 and switch to the "Insert" ribbon tab.</p>
        <p class="ms-font-l">If you've used the Add-in before, select "My Add-ins" and choose it from the dialog. Once installed, you should also be able to find it in the "Add-ins" ribbon tab.</p>
        <p class="ms-font-l">Otherwise, select the "Store" button in the "Insert" tab and search for the "API Playground" in the Store dialog.</p>

        <h2>TypeScript Playground</h2>
        <p class="ms-font-l">To launch the interactive API Playground (i.e., a TypeScript-Fiddle), visit
            <a href="@System.Configuration.ConfigurationManager.AppSettings["PlaygroundBaseUrl"]">
                @System.Configuration.ConfigurationManager.AppSettings["PlaygroundBaseUrl"]
            </a>.
        </p>

    </div>
</div>
<div class="right">
    @if (Model.Exists)
    {
        <iframe src="@Model.IFrameUrl" />
    }
</div>
@*</div>
    </body>
    </html>*@
