@import '../mixins';
@import '../vars';

.about {
    @include flex();
    align-items: center;
    justify-content: center;

    &__image {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        margin-top: $default-spacing * 2;
        @include background-fill() {
            @include background-image-circle(120px, '../images/icon-large.svg');
        }
    }

    &__details {
        text-align: center;
        margin-top: $default-spacing;
        width: 100%;
    }

    &__primary-text {
        margin-bottom: $default-spacing/2;
    }

    &__secondary-text {
        margin-bottom: $default-spacing/2;
        color: $foreground-light;
    }

    &__tertiary-text {
        margin-bottom: $default-spacing * 2;
        color: $foreground-lighter;
        white-space: pre-line;
    }

    &__environment {
        select::-ms-expand {
            display: none;
        }
    }

    &__environment-text {
        color: $foreground-light;
    }

    &__environment-select {
        margin-top: 5px;
        padding: 5px;
        width: 60%;
        outline: 0;
        border: 1px solid grey;

        /* arrow styling */
        -webkit-appearance: none;
        appearance: none;
        background: linear-gradient(grey, grey) no-repeat, linear-gradient(-135deg, rgba(255, 255, 255, 0) 50%, white 50%) no-repeat, linear-gradient(-225deg, rgba(255, 255, 255, 0) 50%, white 50%) no-repeat, linear-gradient(black,grey) no-repeat;
        background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
        background-position: right 20px center, right bottom,  right bottom, right bottom;
    }
}
