@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/theme.scss';

.tabs {
    background-color: #f4f4f4;
    overflow: hidden;
    flex: 0 0 40px;

    &__tab {
        &--active {
            background-color: $accent-background-primary !important;
            color: $accent-foreground-primary !important;
        }        
    }    

    &__container {
        @include flex();
        flex: 1 1 100%;
        width: 100%;        
    }
}

tabs {
    @include flex();
    flex: 1 1 100%;
}

.monaco-editor {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;     
    height: 100% !important;
    display: none;
}

.ms-progress {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;     
    height: 100% !important;
    background: #217346;
}