@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/theme.scss';

.tabs {
    background-color: #f4f4f4;
    overflow: hidden;
    flex: 0 0 40px;

    &__tab {
        &--active {
            background-color: $accent-background-primary !important;
            color: $accent-foreground-primary !important;
            font-style: italic;
        }        
    }    

    &__container {
        flex: 1 1 100%;
        width: 100%;        
    }
}

tabs {
    @include flex();
    flex: 1 1 100%;
}

.monaco-editor {
    flex: 1 1 100%;
    width: 100% !important;     
    height: 100% !important;
    border: solid 1px #555;
}