@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

.view {
    &__header {
        @include inline-flex();
        width: 100%;
    }

    &__main {
        flex: 1 1 100%;
        @include flex();
    }

    &__footer {
        display: flex;
        overflow: hidden;
        align-items: center;

        transition: background-color 0.3s ease-in-out;

        padding: 5px 10px;
        word-wrap: break-word;
        word-break: break-all;
    }

    &__edit-warning {
        padding: 5px 10px;
        background-color: #0d321e;
        color: white;

        a {
            color: #cdf2de;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.view-bar {
    @include inline-flex();
    list-style-type: none;
    width: 100%;

    &--text {
        color: white;
        flex: 1 1 0px;
        padding: 10px 15px;
        @include ellipsis();
    }

    &__command {
        color: white;
        padding: (40px - $default-spacing)/2 $default-spacing;

        &--right {
            align-self: flex-end;
        }

        span {
            color: white
        }
    }

}

.view-bar__command:active,
.view-bar__command:hover,
.view-bar__command i:active,
.view-bar__command i:hover {
    /* different browsers use different terms for pointer vs. hand, so include both*/
    cursor: pointer;
    cursor: hand;
}


