@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

.view {
    &__header {
        @include inline-flex();
        background-color: #1D7044;
        width: 100%;
    }

    &__main {
        flex: 1 1 100%;
        @include flex();
    }
}

.view-bar {
    @include inline-flex();
    list-style-type: none;
    width: 100%;

    &--text {
        color: white;
        flex: 1 1 0px;
        padding: 10px 15px;
        @include ellipsis();
    }

    &__command {
        color: white;
        padding: (40px - $default-spacing)/2 $default-spacing;
        @include focus-states($accent-background-primary, $accent-foreground-primary);

        &--right {
            align-self: flex-end;
        }

        span {
            color: white
        }
    }

}

.view-bar__command:active,
.view-bar__command:hover,
.view-bar__command i:active,
.view-bar__command i:hover {
    background: #13472b !important;
    color: #cdf2de !important;
    /* different browsers use different terms for pointer vs. hand, so include both*/
    cursor: pointer;
    cursor: hand;
}


