@import '../assets/styles/globals.scss';
@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

#title {
    margin-top: 40px;
}

.home {
    background: #232323;
    height: 100%;
    @include flex();
}

    .home a {
        
    }

    .home main {
        height: 100%;
        flex: 1 1 0px;
        padding: $default-spacing;
        @include center-flex();
    }

    .home main h1.choose-flavor {
        margin: 2.5em 0 1em 0;
        color: white;
        border-top: 3px solid white;
        padding-top: 1.5em;
        text-align: center;
    }

    .home main div.buttons {
        text-align: center;
    }

        .home main div.buttons button {
            border: none;
            width: 100px;
            margin: 5px !important;
        }
        
        .home main div.buttons button .ms-Button-label {
            color: white;
        }

            .home main div.buttons button .ms-Button-label:hover
            {
                font-weight: bold;
                text-decoration: underline;
            }

    .home .add-in-note {
        color: white;
        margin-top: 2em;
        max-width: 400px;
        text-align: center;
    }

        