<section class="home">
    <main class="home__main">
        <img class="ms-progress-component__logo" src="../assets/images/icon-large.png" />
        <h1 id="title" class="ms-progress-component__title ms-font-xl ms-fontColor-white ms-fontWeight-semibold">Playground</h1>

        <h1 class="choose-flavor ms-font-xl">Please choose the Playground flavor:</h1>

        <div class="buttons">
            <div>
                <button class="ms-Button excel-background" (click)="navigateToExcel()">
                    <h1 class="ms-Button-label ms-font-l">Excel*</h1>
                </button>

                <button class="ms-Button word-background" (click)="navigateToWord()">
                    <h1 class="ms-Button-label ms-font-l">Word*</h1>
                </button>

                <button class="ms-Button onenote-background" (click)="navigateToOneNote()">
                    <h1 class="ms-Button-label ms-font-l">OneNote*</h1>
                </button>
            </div>

            <div>
                <button class="ms-Button fabric-background" (click)="navigateToFabric()">
                    <h1 class="ms-Button-label ms-font-l">Fabric</h1>
                </button>

                <button class="ms-Button typescript-background" (click)="navigateToTypeScript()">
                    <h1 class="ms-Button-label ms-font-l">TypeScript</h1>
                </button>
            </div>
        </div>

        <p class="add-in-note ms-font-m">
            (*) - Requires an <a href="addin.html" target="_blank">Office Add-in</a>
            in order to run the Office.js snippets (but can still view and edit the snippets in-browser).
        </p>
    </main>
</section>