<section class="home">
    <main class="home__main">
        <img class="ms-progress-component__logo" src="../assets/images/icon-large.png" />
        <h1 id="title" class="ms-progress-component__title ms-font-xxl ms-fontColor-white">Office Add-in Playground</h1>

        <h1 class="choose-flavor ms-font-xl">Please choose the Playground flavor:</h1>

        <div class="buttons">
            <div>
                <button class="ms-Button excel-background" (click)="navigateToExcel()">
                    <h1 class="ms-Button-label ms-font-l">Excel*</h1>
                </button>

                <button class="ms-Button word-background" (click)="navigateToWord()">
                    <h1 class="ms-Button-label ms-font-l">Word*</h1>
                </button>

                <button class="ms-Button powerpoint-background" (click)="navigateToPowerPoint()">
                    <h1 class="ms-Button-label ms-font-l">PowerPoint*</h1>
                </button>

                <button class="ms-Button onenote-background" (click)="navigateToOneNote()">
                    <h1 class="ms-Button-label ms-font-l">OneNote*</h1>
                </button>
            </div>
        </div>

        <p class="add-in-note ms-font-m">
            Note: You can view and edit snippets in-browser, but you'll need to
            <a href="acquire.html" target="_blank">acquire the Office Add-in</a>
            in order to run any Office.js code.
        </p>
    </main>
</section>