@import '../../assets/styles/mixins';
@import '../../assets/styles/vars';

.gallery {
    @include flex();
    flex: 1 1 100%;

    &__header {
        padding: $default-spacing/2 $default-spacing;
        color: white;
    }

    &__action {
        width: 100%;
        max-width: none;
        display: block !important;
        background-color: $background-lightest;
        color: #333;
        margin: 0;
        padding: $default-spacing;
        border: none;
        border-bottom: solid 1px #E4E4E4;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover,
        &:focus {
            border: none;
        }

        .ms-Button-description,
        .ms-Button-label {
            color: #333;
        }

        .ms-Button-label > .ms-Icon {
            margin-right: $default-spacing/2;
        }
    }

    &__section {
        &:first-child {
            flex: 1 1 100%;
            @include flex();
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--separator {
            height: 0;
            border: none;
            outline: none;
            border-bottom: solid 1px #E4E4E4;
        }
    }

    &__section-title {
        padding: $default-spacing !important;
        display: table-cell;
        box-sizing: border-box;
    }

    &-list {
        flex: 1 1 100%;
        @include vScroll();

        &__group {
            margin-bottom: $default-spacing;
        }

        &__group-header {
            font-weight: bold;
            padding: $default-spacing/2 $default-spacing;
        }

        &__item {
            @include inline-flex();
            width: 100%;

            &__local {
                span {
                    padding: $default-spacing;
                    align-self: flex-start;
                    @include ellipsis();
                    flex: 1 1 100%;
                }
            }

            &--template {
                padding: $default-spacing*2/3 $default-spacing;
                align-self: flex-start;
                @include flex();
                flex: 1 1 100%;

                .description {
                    padding-right: 20px;
                    white-space: normal;
                    opacity: 0.6;
                }
            }
        }

        &__item:hover, &__item:active {
            color: white;
            cursor: pointer;
            cursor: hand;
        }

        &__message {
            padding: $default-spacing/2 $default-spacing;
        }

        &__notice {
            background: rgba(#FFF100, 0.6);
            padding: $default-spacing;

            & .ms-Button {
                margin-top: $default-spacing/2;
            }
        }

        &__loading {
            padding: 15px 15px 15px 30px;
            color: gray;
        }

        &__action {
            padding: $default-spacing + 2px;
            font-size: 15px;
            align-self: flex-end;
        }

        &__template-error {
            color: #999;
            padding: 15px;
        }
    }
}