@import '../../assets/styles/mixins';

share {
    overflow: hidden;
}

.share__header {
    padding: 7.5px 15px;
}

.share__main {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    overflow: auto;
}


    .share__main ol {
        margin-left: 30px;
        margin-top: 10px;
    }

        .share__main ol li {
            margin: 10px 0;
        }

    .share__main .pre-share {
        padding: $default-spacing;
    }

        .share__main .pre-share > .description {
            margin-bottom: 2em;
        }

        .share__main .pre-share > .header {
            margin-bottom: .5em;
        }

        .share__main .pre-share > .header.space-above {
            margin-top: 3em;
        }

        .share__main .pre-share .ms-Button {
            height: auto;
            margin-top: .5em;
        }

            .share__main .pre-share .ms-Button .ms-Button-label {
                color: white;
                font-weight: normal;
            }

    .share__main .post-share h1 {
        padding: $default-spacing;
    }

    .share__main .post-share h2 {
        margin-top: 20px;
        padding: $default-spacing;
        background: #eee;
    }

    .share__main .post-share .info-panel {
        padding: $default-spacing;
    }

        .share__main .post-share .info-panel p {
            margin-top: 10px;

        }

        .share__main .post-share .info-panel .link-or-id {
            word-wrap: break-word;
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 5px;
        }

#back {
    font-size: 1.5em;
    font-weight: bold;
    color: white;

    /* different browsers use different terms for pointer vs. hand, so include both*/
    cursor: pointer;
    cursor: hand;
}

#name {
    color: white;
    margin-left: 15px;
}

#monaco-wrapper {
    margin-top: 10px;
}

#monaco {
    border: 5px solid gray;
    box-sizing: border-box;
    height: 250px;
}

.ms-progress {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;
    height: 100% !important;
}
