@import '../../assets/styles/mixins';
@import '../../assets/styles/vars';

.editor {
    flex: 1 1 100%;
    @include flex();

    &__header {
        padding-right: 30px;
        color: white;
    }

    &__main {
        flex: 1 1 100%;
        @include flex();
    }

    &__footer {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: flex-end;
        height: 25px;
        transition: background-color 0.3s ease-in-out;

        .command__text {
            padding: 5px $default-spacing/2;
            margin: 0px 3px;

            span {
                margin-left: $default-spacing/2;
            }

            .ms-Icon--CircleFill {
                position: absolute;
            }

            .ms-Icon--Emoji2 {
                z-index: 2;
            }

            &.language {
                text-transform: uppercase;

                span {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .editor {
        .command__icon > span{
            display: none;
        }
    }
}