<hamburger [title]="title" [(shown)]="menuOpen">
    <gallery-view></gallery-view>
</hamburger>
<section class="editor">
    <header class="command__bar">
        <div class="command__icon" (click)="menuOpen = true"><i class="ms-Icon ms-Icon--GlobalNavButton"></i></div>
        <div class="command__title">
            <span class="ms-font-m">{{snippet?.content?.name}}</span>
        </div>
        <div [hidden]="editMode || !snippet" class="command__icon" (click)="save()"><i class="ms-Icon ms-Icon--Save"></i></div>
        <div [hidden]="editMode || !snippet" class="command__icon" (click)="run()"><i class="ms-Icon ms-Icon--Play"></i></div>
        <div [hidden]="editMode || !snippet" class="command__icon" (click)="share()"><i class="ms-Icon ms-Icon--Share"></i></div>
        <div [hidden]="editMode || !snippet" class="command__icon" (click)="share()"><i class="ms-Icon ms-Icon--Contact"></i></div>
    </header>
    <section class="editor__main" *ngIf="snippet">
        <monaco-editor (save)="save()">
            <tab name="Script" [language]="snippet.content.script.language" [(content)]="snippet.content.script.content"></tab>
            <tab name="Template" [language]="snippet.content.template.language" [(content)]="snippet.content.template.content"></tab>
            <tab name="Style" [language]="snippet.content.style.language" [(content)]="snippet.content.style.content"></tab>
            <tab name="Libraries" language="script-references" [(content)]="snippet.libraries"></tab>
            <tab name="Description" language="markdown" [(content)]="snippet.content.description"></tab>
        </monaco-editor>
    </section>
    <section class="editor__footer ms-font-m" [ngClass]="{
    'editor__footer--warning': isStatusWarning,
    'editor__footer--error': isStatusError
}">
        <div id="editor-status-text">
            <div *ngIf="!!!status" class="ms-u-slideUpIn20 ms-font-s">Office Add-in Playground</div>
            <div *ngIf="!!status" class="ms-u-slideUpIn20 ms-font-s" (click)="clearStatus">{{status}}</div>
        </div>

        <div class="command__icon display-if-office-js-dialog-enabled" (click)="launchPopOutAddinEditor()">
            <i class="ms-Icon ms-Icon--popout "></i>
        </div>
    </section>
</section>