<section class="run__header">
    <span id="back" (click)="back()">&#8656;</span>
    <span id="name" class="ms-font-l">Running "<b>{{_snippet.meta.name}}</b>"</span>
</section>

<section class="run__main">
    <iframe #runner id="runner-frame"></iframe>
</section>

<section class="run__console" #console id="console">
    <div>
        <button id="console-clear">Clear</button>
        <button id="console-close">Close</button>
    </div>
    <div class="scrollable">
        <pre></pre>
    </div>
</section>
