<section class="run__header">
    <span id="back" (click)="back()">&#8656;</span>
    <span id="name" class="ms-font-l">Running "<b>{{_snippet.meta.name}}</b>"</span>
    <span id="refresh" (click)="refresh()">&#8635;</span>
</section>

<section class="run__main">
    <iframe #runner id="runner-frame"></iframe>
</section>

<section #console class="run__console animate-show" id="console" [hidden]="!showConsole">
    <div>
        <button class="ms-Button" id="console-clear" (click)="clearConsole()">Clear</button>
        <button class="ms-Button" id="console-close" (click)="hideConsole()">Close</button>
    </div>
    <div class="scrollable">
        <pre><span *ngFor="let item of consoleMessages" class="console {{item.type}}">{{item.message}}</span></pre>
    </div>
</section>
