@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

.app {
    @include flex();
    height: 100vh;

    &__search {
        width: 100%;
        margin: 0;
    }

    &__separator {
        margin: 0 auto;
        width: calc(100% - 30px);
        border: none;
        border-top: 1px solid $background-light;
    }

    &__main {
        flex: 1 1 0;
        @include flex();
    }

    &__footer {        
        cursor: pointer;
        height: 80px;
    }
}

@media only screen and (min-width: 700px) {
    .app {
        &__main {
            margin-left: 350px;
        }
    }

    .hamburger-menu {
        transform: translate3d(0, 0, 0) !important;
    }        
} 

repo, file-list, file-tree, file-create, file-detail {
    @include flex();
    flex: 1 1 100%;
}
    
.app-command-bar {
    @include inline-flex();
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid $background-light;

    &__command {
        padding: (40px - $default-spacing)/2 $default-spacing;
        @include focus-states($accent-background-primary, $accent-foreground-primary);

        &:hover i {
            color: $accent-foreground-primary;
        }

        &--text {
            flex: 1 1 0px;
            @include ellipsis();

            i {
                padding-right: $default-spacing/2;
            }
        }
    }
}

.app-search {
    &__input {
        width: 100%;
        color: $foreground-primary;
        border: none;
        border-bottom: solid 1px $background-light;

        &:focus {
            background-color: $background-lightest;
        }
    }

    &__label {
        @include ellipsis();
        width: 100%;
        line-height: 32px; /* height of search box */
    }
}