@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

.new {
    @include flex();
    flex: 1 1 100%;

    &__header {
        padding: 7.5px 15px;
        background-color: $accent-background-primary;
        color: white;
    }

    &__action {
        width: 100%;
        max-width: none;
        display: block !important;
        background-color: #F4F4F4;
        color: #333;
        margin: 0;
        padding: $default-spacing;
        border: none;
        border-bottom: solid 1px #E4E4E4;

        &:last-child {
            margin-bottom: 0;
        }

        @include focus-states($accent-background-primary, $accent-foreground-primary);

        &:hover,
        &:focus {
            border: none;
            background-color: $accent-background-primary;
    
            .ms-Button-description,
            .ms-Button-label {
                color: $accent-foreground-primary;
            }
        }
        

        .ms-Button-description,
        .ms-Button-label {
            color: #333;
        }
    }

    &__section {
        &:last-child {
            margin-bottom: 0;
        }

        &--separator {
            height: 0;
            border: none;
            outline: none;
            border-bottom: solid 1px #E4E4E4;
        }
    }

    &__section-title {
        padding: $default-spacing !important;
        color: $accent-background-primary;
        display: table-cell;
        box-sizing: border-box;
    }

    &__gallery {
        flex: 1 1 100%;
        @include flex();
    }

    &__input--text {
        width: calc(100% - 10px);
        padding: 0 10px;
        box-sizing: border-box;
        height: 30px;
        font-size: 15px;
        border: 1px solid lightgray;
        outline: none;
        display: table-cell;
        background: aliceblue;

        &:focus {
            color: $accent-background-primary;
            border: solid 1px $accent-background-primary;
        }
    }
}

.new-list {
    flex: 1 1 100%;
    @include vScroll();   

    &__group {
        margin-bottom: $default-spacing;
    }

    &__group-header {
        font-weight: bold;
        padding: $default-spacing/2 $default-spacing;
        color: $accent-background-primary;
    }

    &__item {
        @include inline-flex();
        width: 100%;

        span {
            padding: $default-spacing;            
            align-self: flex-start;
            @include ellipsis();
            flex: 1 1 100%;
        }
    }

    &__message {
        padding: $default-spacing/2 $default-spacing;
    }

    &__localstorage-notice {
        padding: $default-spacing;
        background: lightgoldenrodyellow;
    }

    &__action {
        padding: $default-spacing + 2px;
        font-size: 15px;
        @include focus-states($accent-background-primary, $accent-foreground-primary);
        align-self: flex-end;
    }
}

.main-heading.local-snippets {
    display: flex;
    overflow: hidden;
    align-items: center;
}

    .main-heading.local-snippets > span {
        flex-grow: 1;
    }

    .main-heading.local-snippets > i {
        position: relative;
        top: 0;
        padding: 5px;
        color: black;
        /* different browsers use different terms for pointer vs. hand, so include both*/
        cursor: pointer;
        cursor: hand;        
    }

    .main-heading.local-snippets > i:hover {
        color: white;        
    }

h1.main-heading {
    background-color: #F4F4F4;
    color: $accent-background-primary;
    padding-left: $default-spacing !important;
    border: none;
    border-bottom: solid 1px #E4E4E4;
    padding: 10px;
    border-top: solid 1px #E4E4E4;
    text-transform: uppercase;
    font-weight: bold;
}

h1.ms-Button-label {
    background: inherit;
    text-transform: uppercase;
}

.new__action h1.ms-Button-label {
    color: $accent-background-primary;
}

// .new-list__group.local-snippets, .new-list__from-template > section, .new-list__from-template > section > section {
//     margin-left: 1.5em;
// }

// @media (max-width: 400px) {
//     .new-list__group.local-snippets, .new-list__from-template > section, .new-list__from-template > section > section {
//         margin-left: 1em;
//     }
// }

// @media (max-width: 300px) {
//     .new-list__group.local-snippets, .new-list__from-template > section, .new-list__from-template > section > section {
//         margin-left: 0.75em;
//     }
// }

.new-list__item:active, .new-list__item:hover {
    background: $accent-background-primary;
    color: white;
    /* different browsers use different terms for pointer vs. hand, so include both*/
    cursor: pointer;
    cursor: hand; 
}

.new-list__action:active, .new-list__action:hover {
    background: darken($accent-background-primary, 15%);
    color: lighten($accent-background-primary, 50%);
}

h1.local-snippets i.new-list__action.ms-Icon.ms-Icon--trash {
    padding-right: 7px;
}

@media (max-width: 600px) {
    .new-list__action {
        padding-right: 15px;
        padding-left: 15px;
    }

    h1.main-heading {
        padding-right: 10px; /* padding above minus 5 */
    }
}

@media (max-width: 500px) {
    .new-list__action {
        padding-right: 12px;
        padding-left: 12px;
    }

    h1.main-heading {
        padding-right: 7px; /* padding above minus 5 */
    }
}

@media (max-width: 400px) {
    .new-list__action {
        padding-right: 9px;
        padding-left: 9px;
    }

    h1.main-heading {
        padding-right: 4px; /* padding above minus 5 */
    }
}

@media (max-width: 300px) {
    .new-list__action {
        padding-right: 7px;
        padding-left: 7px;
    }

    h1.main-heading {
        padding-right: 2px; /* padding above minus 5 */
    }
}

@media (max-width: 250px) {
    .new-list__action {
        padding-right: 5px;
        padding-left: 5px;
    }

    h1.main-heading {
        padding-right: 0; /* padding above minus 5 */
    }
}