<section class="new">
    <section class="new__header ms-font-l">
        {{title}}
    </section>
    <div class="ms-progress" [hidden]="loaded">
        <div class="ms-Spinner large"></div>
        <div class="ms-ProgressIndicator-itemName ms-font-m ms-fontColor-white">Just one moment...</div>
    </div>
    <section class="new__section new__gallery" [hidden]="!loaded">
        <section class="new-list">
            <h1 style="margin-top: 0;" class="ms-font-m main-heading local-snippets action-bar">
                <span>My local snippets&nbsp;&nbsp;
                    <i class='new-list__action ms-Icon ms-Icon--infoCircle opacity-50' (click)="showInfo = !showInfo"></i>
                </span>
                <i [hidden]="!localGallery?.length > 0" class="new-list__action ms-Icon ms-Icon--trash" (click)="deleteAll()"></i>
            </h1>
            <div [hidden]="!showInfo" class="new-list__notice ms-font-m">
                Note: These snippets are stored in your browser's "window.localStorage", and will disappear if you clear your browser cache.
                Please do <em>not</em> use the Playground for mission-critical snippets that you haven't
                backed up via some other means (i.e., manual copying or the Sharing feature).

                <br />
                <button class="ms-Button ms-Button--primary" (click)=gotIt()>
                    <span class="ms-Button-label">Got it</span>
                </button>
            </div>

            <section class="new-list__group local-snippets">
                <article class="new-list__item new-list__item__local ms-font-m" *ngFor="let snippet of localGallery">
                    <span (click)="select(snippet)">{{snippet?.meta.name}}</span>
                </article>
                <p class="new-list__message ms-font-m" [hidden]="localGallery?.length > 0">
                    You have no local snippets. To get started, import one from a shared link or create a new snippet. You can also choose from
                    the gallery below.
                </p>
            </section>

            <section>
                <h1 class="ms-font-m main-heading from-template">
                    From a template
                </h1>
                <p [hidden]="templateGallery || templateGalleryError" class="new-list__loading ms-font-m">Loading...
                </p>
                <div [hidden]="!templateGalleryError" class="new-list__template-error ms-font-m">{{templateGalleryError}}</div>
                <section class="new-list__group from-template" *ngFor="let group of templateGallery?.groups; let i = index">
                    <h3 class="new-list__group-header ms-font-m">{{group?.name}}</h3>
                    <section class="new-list__group">
                        <article class="new-list__item new-list__item__template ms-font-m" *ngFor="let snippet of group?.items">
                            <div (click)="importSnippet(snippet)">
                                <div class="name">{{snippet?.name}}</div>
                                <div class="description">{{snippet?.description}}</div>
                            </div>
                        </article>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="new__section" [hidden]="!loaded">
        <hr class="new__section--separator" />
        <button class="new__action ms-Button ms-Button--compound" (click)="select()">
            <h1 class="ms-Button-label">Create new</h1>
            <span class="ms-Button-description">Create a new snippet from a blank template</span>
        </button>
        <button class="new__action button-primary ms-Button ms-Button--compound" (click)="navigateToImport()">
            <h1 class="ms-Button-label">Create from link / JSON</h1>
            <span class="ms-Button-description">Create from shared link or JSON</span>
        </button>
    </section>
</section>