<!DOCTYPE html>
<html>

<head>
	<base href="/">
	<title>Code</title>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="icon" type="image/x-icon" href="favicon/favicon.ico" />
	<link rel="manifest" href="favicon/manifest.json">

	<link rel="stylesheet" href="libs/office-ui-fabric-js/css/fabric.min.css" />
	<link rel="stylesheet" href="libs/office-ui-fabric-js/css/fabric.components.min.css" />
	<script src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js"></script>
</head>

<body class="ms-font-m">
	<app class="app">
		<div class="ms-progress-component">
			<main class="ms-progress-component__main ms-fontColor-white">
				<img class="ms-progress-component__logo" src="../assets/images/icon-large.png" />
				<h1 id="title" class="ms-progress-component__title ms-font-xxl">Add-in Playground</h1>
				<p class="ms-progress-component__sub-title ms-font-m">Code ● Run ● Share</p>
			</main>
			<footer class="ms-progress-component__footer ms-fontColor-white">
				<div class="ms-progress">
					<div class="cs-loader">
						<div class="cs-loader-inner">
							<label>●</label>
							<label>●</label>
							<label>●</label>
							<label>●</label>
							<label>●</label>
						</div>
					</div>
				</div>
			</footer>
			<div id="hosts" class="ms-u-slideUpIn20">
				<p>We weren't able to determine your host. <br/> Please choose the type of playground you want to open.</p>
				<div class="buttons">
					<button class="hostButton ms-Button" data-host="EXCEL">
						<span class="ms-Button-label">Excel</span>
					</button>
					<button class="hostButton ms-Button" data-host="WORD">
						<span class="ms-Button-label">Word</span>
					</button>
					<button class="hostButton ms-Button" data-host="POWERPOINT">
						<span class="ms-Button-label">PowerPoint</span>
					</button>
					<button class="hostButton ms-Button" data-host="ONENOTE">
						<span class="ms-Button-label">OneNote</span>
					</button>
				</div>
				<a class="hostButton" data-host="WEB">Take me to the web version</a>
			</div>
		</div>
	</app>
	<script src="libs/monaco-editor/vs/loader.js"></script>
</body>

</html>