@import '../assets/styles/mixins.scss';
@import '../assets/styles/theme.scss';

import {
    overflow: hidden;
}

.import__header {
    padding: 7.5px 15px;
}

.import__main {
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    overflow: auto;
}

    .import__main ol {
        margin-left: 30px;
        margin-top: 10px;
    }

        .import__main ol li {
            margin: 10px 0;
        }

#back {
    font-size: 1.5em;
    font-weight: bold;
    color: white;

    /* different browsers use different terms for pointer vs. hand, so include both*/
    cursor: pointer;
    cursor: hand;
}

#name {
    color: white;
    margin-left: 15px;
}

#monaco-wrapper {
    margin-top: 10px;
}

#monaco {
    box-sizing: border-box;
    height: 300px;
}

.ms-progress {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;     
    height: 100% !important;
}

.pre-import > h1 {
    margin-top:  20px;
}

.pre-import .info-panel {
    padding: 10px;
    word-break: break-word;
}

    .pre-import .info-panel pre {
        white-space: pre-wrap;
    }

.pre-import .link-or-id {
    word-wrap: break-word;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.gray-background {
    background: #eee;
    padding: 10px;
}

.right-aligned-button-container {
    text-align: right;
}

.import-button {
    margin-top: 10px;
    height: 40px;
    width: 120px;
}