@import 'vars';
@import 'mixins';
@import 'components/command';
@import 'theme';
@import 'themes/minimal';

* {
    margin: 0;
    padding: 0;
}

*[hidden] {
    display: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: $foreground-primary;
}

body {
    position: relative;
    min-width: 320px;
    min-height: 430px;
	@include flex();
}

main {
    height: 100%;
}

footer {
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

/* Runner styles */

#progress {
    @include inline-flex();
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#header {
	a {
		text-decoration: none;
	}
	.command {
		&__title,
		&__icon {
			padding: 0 12px;
		}

		&__center {
			flex: 1 1 auto;
		}
	}
}

@media (min-width: 0px) and (max-width: 900px) {
	.command {
		&__icon {
			span {
				display: block;
			}
		}
	}
}

#snippet-container {
	flex: 1 1 300px;
	width: 100%;
	border: none;
	outline: none;
}

iframe#FirebugUI {
	z-index: 1000 !important; /* so that doesn't conflict with loader */
	position: static !important;
	box-sizing: border-box;
	outline: none;
	border: none;
}

/* Themes */
body.EXCEL {
	@include theme-min($excel);
}

body.POWERPOINT {
	@include theme-min($powerpoint);
}

body.ONENOTE {
	@include theme-min($onenote);
}

body.WORD {
	@include theme-min($word);
}

body.WEB {
	@include theme-min($web);
}

body.PROJECT {
	@include theme-min($project);
}