@import '../../../../assets/styles/mixins';

.hamburger-menu {
    width: 330px;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s cubic-bezier(0,1.13,.4,1);
    @include flex();
    flex: 0 0 100%;
    display: none;

    &__header {
        @include inline-flex();
        height: 48px;
        align-items: center
    }

    &__close {
        padding: 11px;
        margin-right: 7.5px;
    }

    &__title {
        flex: 1 1 auto;
    }

    &__container {
        flex: 1 1 100%;
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
    }

    &--shown {
        transform: translate3d(0, 0, 0);
        display: flex;
    }

    &--inline {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
    }
}

@media (min-width: 0px) and (max-width: 720px) {
    .hamburger-menu {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
    }
}