@import 'vars';
@import 'mixins';

.ms-Button {
    &.ms-Button--compound {
        max-width: none;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.ms-Dialog {
    max-height: calc(100vh - 200px);

    .is-visible {
        @include flex();
    }

    &-inner,
    &-main {
        @include flex();
    }

    &-content {
        overflow: auto;
    }

    &-subText {
        font-size: 14px;
        font-weight: 400;
    }

    &-action {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.ms-Pivot {
    &--tabs {
        .ms-Pivot-link {
            padding: 0 15px;
        }
    }
}