@import 'vars';
@import 'mixins';

.ms-Button {
    &.ms-Button--compound {
        max-width: none;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

dialog.panel {
    .ms-Dialog {
        width: 100% !important;
        height: 100% !important;
        max-width: none;

        &-content {
            height: 100%;
            overflow: hidden;
        }
    }
}

.ms-Dialog {
    min-height: 250px !important;
    min-width: 350px;
    padding: 0;

    .is-visible {
        @include flex();
    }

    &-inner,
    &-main {
        height: 100%;
        @include flex();
        min-width: none !important;
        max-width: none !important;
    }

    &-main {
        max-height: 100vh;
    }

    &-inner {
        padding: $default-spacing;
    }

    &-content {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &.ms-Dialog--lgHeader {
        .ms-Dialog-title {
            padding: $default-spacing;
            margin: 0;
        }
    }

    &-subText {
        font-size: 14px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        white-space: pre-line;
    }

    &-action {
        margin-right: $default-spacing;
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        & > i {
            margin-right: $default-spacing/2;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 350px) {
    .ms-Dialog {
        width: 100%;
        min-width: none;
    }
}

.ms-Pivot {
    &--tabs {
        .ms-Pivot-link {
            padding: 0 $default-spacing;
        }
    }
}

textarea.ms-TextField-field {
    min-height: 125px;
}