@import 'theme.scss';
@import 'mixins.scss';

$accent-background-primary: $excel;
$accent-foreground-primary: lighten($accent-background-primary, 60%);

body.excel {
    .ms-progress-component {
        &__title {
            color: $accent-foreground-primary !important;
        }
    }

    .ms-Dialog-main {
        .ms-Dialog-header {
            background-color: $accent-background-primary  !important;
            
            .ms-Dialog-title {
                color: $accent-foreground-primary  !important;
            }
        }

        .ms-Button--primary {
            background-color: $accent-background-primary  !important;
            color: $accent-foreground-primary  !important;     
        }
    }

    .editor {
        &__header {
            background: $accent-background-primary !important;
        }

        &__footer {
            background-color: $accent-background-primary !important;
            color: $accent-foreground-primary !important;    
        }
    }

    .editor-command-bar {
        &__command {
            @include focus-states($accent-background-primary, $accent-foreground-primary);

            
            &:active,
            &:hover,
            i:active,
            i:hover {
                background: darken($accent-background-primary, 10%)  !important;
                color: $accent-foreground-primary  !important;
                /* different browsers use different terms for pointer vs. hand, so include both*/
            }
        }

        &__input--text {
            &:focus {
                background-color: darken($accent-background-primary, 10%) !important;
                color: $accent-foreground-primary !important; 
                border: solid 1px $accent-background-primary !important;
            }
        }
    }

    .edit-name-icon {
        color: $accent-background-primary  !important;
    }

    .import__header {
        background-color: $accent-background-primary !important;
    }

        .import__main a {
            color: $accent-background-primary
        }
        
    #monaco {
        border: 5px solid $accent-background-primary !important;
    }

    .ms-progress {
        background: $accent-background-primary !important;
    }

    .theme-color {
        color: $accent-background-primary
    }

        .import__footer  .ms-Button {
            background: $accent-background-primary !important;
        }

            .import__footer .ms-Button:hover {
                background: darken($accent-background-primary, 15%) !important;
            }

    .new {
        &__header {
            background-color: $accent-background-primary !important;
        }

        &__action {
            @include focus-states($accent-background-primary, $accent-foreground-primary);

            &:hover,
            &:focus {
                background-color: $accent-background-primary !important;
        
                .ms-Button-description,
                .ms-Button-label {
                    color: $accent-foreground-primary !important;
                }
            }
        }

        &__section-title {
            color: $accent-background-primary !important;
        }

        &__input--text {
            &:focus {
                color: $accent-background-primary !important;
                border: solid 1px $accent-background-primary !important;
            }
        }
    }

    .new-list {
        &__action {
            @include focus-states($accent-background-primary, $accent-foreground-primary);
        }
    }

    h1.main-heading {
        color: $accent-background-primary !important;
    }

    .new__action h1.ms-Button-label {
        color: $accent-background-primary !important;
    }

    .new-list__item:active, .new-list__item:hover {
        background: $accent-background-primary !important;
    }

    .new-list__action:active, .new-list__action:hover {
        background: darken($accent-background-primary, 15%) !important;
        color: $accent-foreground-primary !important;
    }

    .run {
        &__header {
            background-color: $accent-background-primary !important;
        
            h1 {
                color: $accent-foreground-primary !important;
            }
        }
    }

    .ms-progress {
        background: $accent-background-primary !important;
    }

    .share__header {
        background-color: $accent-background-primary !important;
    }

    .share__main a {
        color: $accent-background-primary
    }

    .share__main .pre-share .ms-Button {
        background: $accent-background-primary !important;
    }

    .share__main .post-share .info-panel .link-or-id {
        color: $accent-background-primary !important;
    }

    .tabs {
        background-color: darken($accent-background-primary, 15%) !important;

        &__tab.ms-Pivot-link {
            background: darken($accent-background-primary, 15%) !important;
        }

        &__tab.ms-Pivot-link:hover {
            background: darken($accent-background-primary, 15%) !important; 
        }    
    }

    li.tabs__tab.ms-Pivot-link.is-selected.tabs__tab--active {
        background-color: darken($accent-background-primary, 15%)  !important;
        color: $accent-foreground-primary  !important;
    }

    .view {
        &__header {
            background-color: $accent-background-primary !important;
        }
    }

    .view-bar {
        &__command {
            @include focus-states($accent-background-primary, $accent-foreground-primary)
        }
    }

    view-bar__command:active,
    .view-bar__command:hover,
    .view-bar__command i:active,
    .view-bar__command i:hover {
        background: darken($accent-background-primary, 15%)  !important;
        color: $accent-foreground-primary  !important;
        /* different browsers use different terms for pointer vs. hand, so include both*/
    }
}