@import 'vars';
@import 'mixins';
@import 'fabric';
@import 'components';
@import 'containers';

* {
    margin: 0;
    padding: 0;
}

*[hidden] {
    display: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: $foreground-primary;
}

body {
    position: relative;
    min-width: 320px;
    min-height: 430px;
}

main {
    height: 100%;
}

footer {
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

.app {
    @include inline-flex();
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    home, dialog, gallery, editor, hamburger {
        flex: 1 1 100%;
        @include flex();
        height: 100%;
    }

    dialog {
        position: absolute;
        border: none;
    }

    hamburger {
        flex: 0 0 auto;
        height: 100vh;
    }

    gallery {
        height: calc(100vh - 40px);
    }

    main {
        @include flex();
        height: 100vh;
        width: 100%;
    }

    editor-view {
        flex-direction: row;
    }

    monaco-editor {
        overflow: hidden;
    }

    tab {
        display: none;
        height: 100% !important;
    }

    footer.command__bar--condensed {
        flex: 0 0 22px;

        .ms-font-m {
            font-size: 12px;
        }

        .command__icon {
            padding: 3px 7.5px
        }

        command:first-child .command__icon {
            margin-left: 0px;
        }

        command.language {
            span {
                margin-left: 0;
                text-transform: uppercase;
            }
        }
    }
}

.collapse {
    &__info {
        background: rgba(#FFF100, 0.6);
        padding: $default-spacing;

        & .ms-Button {
            margin-top: $default-spacing/2;
        }
    }
}

#hosts {
    display: none;
    text-align: center;

    & .buttons {
        padding: 15px;

        .ms-Button-label {
            color: $foreground-white;
        }

        button[data-host="excel"] {
            background-color: $excel;
        }

        button[data-host="word"] {
            background-color: $word;
        }

        button[data-host="powerpoint"] {
            background-color: $powerpoint;
        }

        button[data-host="onenote"] {
            background-color: $onenote;
        }
    }

    a.hostButton {
        margin-bottom: 40px;
        text-decoration: underline;
        font-size: 13pt;
        color: $web;
        cursor: pointer;
        display: block;
    }
}