/* Default Variables */
$default-spacing: 15px;

/* Background Colors */
$background-primary: #212121;
$background-light: #DEDEDE;
$background-lighter: #E6E6E6;
$background-lightest: #F4F4F4;
$background-white: #FFFFFF;

/* Foreground Colors */
$foreground-primary: #333333;
$foreground-white: #FFFFFF;
$foreground-light: #666666;
$foreground-lighter: #999999;
$foreground-lightest: #BABABA;

/* Accent Colors */
$accent-background-primary: rgba(33, 115, 70, 1);
$accent-foreground-primary: lighten($accent-background-primary, 60%);