$excel: rgba(33, 115, 70, 1);
$word: rgba(43, 87, 154, 1);
$powerpoint: rgba(208, 69, 38, 1);
$onenote:  rgba(128, 57, 123, 1);
$fabric: rgba(0, 120, 215, 1);


/* Default Variables */
$default-spacing: 15px;

/* Background Colors */
$background-primary: #212121;
$background-light: #DEDEDE;
$background-lighter: #E6E6E6;
$background-lightest: #F4F4F4;
$background-white: #FFFFFF;

/* Foreground Colors */
$foreground-primary: #333333;
$foreground-white: #FFFFFF;
$foreground-light: #666666;
$foreground-lighter: #999999;
$foreground-lightest: #BABABA;

/* Accent Colors */

