@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/theme.scss';

.tabs {
    background-color: #0d321e;
    overflow: hidden;
    flex: 0 0 40px;

    &__tab.ms-Pivot-link {
        background: #0d321e !important;
        color: white !important;
    }

    &__tab.ms-Pivot-link:hover {
        background: #13472b !important;
        color: white !important;
    }    

    &__container {
        @include flex();
        flex: 1 1 100%;
        width: 100%;
        padding-top: 10px;
        background: #1e1e1e;  
    }
}

li.tabs__tab.ms-Pivot-link.is-selected.tabs__tab--active {
    background-color: #13472b !important;
    color: $accent-foreground-primary !important;
}

tabs {
    @include flex();
    flex: 1 1 100%;
}

.monaco-editor {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;     
    height: 100% !important;
    display: none;
}

.ms-progress {
    @include flex();
    flex: 1 1 100%;
    width: 100% !important;     
    height: 100% !important;
    background: #1D7044;
}